* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    -45deg,
    rgba(237, 217, 185, 0.679),
    rgba(244, 233, 205, 0.822)
  );
}

.app {
  background-color: #2399dc;
  background-image: linear-gradient(135deg, #67c0f3 0%, #4f9dc2 71%);
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-in-out;
}

.warm {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 -15%, #e61ba9 100%);

  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-in-out;
}

main {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5)
  );
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 80px;
  padding: 2rem;
}

.search-box,
.search-bar {
  display: block;
  width: 100%;
  padding: 0rem;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 14px 14px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
  color: 20px;
  transition: 0.4s ease;
}

.search-bar {
  padding: 1.5rem;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.search-box .search-bar:focus {
  background-color: rgba(140, 178, 194, 0.118);
}

.location-box .location {
  text-shadow: 3px 3px rgba(50, 50, 50, 0.5);
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}

.location-box .date {
  text-shadow: 1px 2px rgba(50, 50, 70, 0.5);
  text-align: center;
  color: white;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  font-weight: 300;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.5);

  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.2);
  color: white;
  text-align: center;
  box-shadow: 3px 6px rgba(50, 50, 70, 0.2);
}

.weather {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.2);
}
